.navbar-brand {
    font-weight: bold;
}




.form-control:valid {
    background-image: none;
    border-color: black;
    
}

.custom {
    outline: 0 !important    ;
    outline-offset: none !important;
    border: 1px solid salmon;
}